.Message-message {
    font-size: medium;
    width: 40em;
}

.Message-continue-link { text-decoration: none; color: blue; }
.Message-continue-link:hover { text-decoration: underline; color: blue; }
.Message-continue-link:visited { color: blue; }
